body {
  background-image: url("/img/idaho/pexels-pixabay-38238.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h3 {
  font-style: italic;
  text-align: center;
  color: bisque;
}
footer {
  border-style: none;
  text-align: center;
  align-items: end;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(230, 224, 216);
}
