.parallax {
  /* The image used */
  background-image: url("/img/idaho/waterfalls_1.PNG");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
